body, li, ul, p {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

#wrapper, #wrapper {
    width: 1280px;
    height: 100%;
}

header {
    width: 100%;
    height: 120px;
}

header .container{
    width: 1100px;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}

header .top_header {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #000;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

header .top_header li {
    float:left;
    padding: 10px;
    width: 70px;
    text-align: center;
    border-right: 1px solid #000;
}

header .top_header li:hover {
    background: #aaa;
    display: block;
}

header .top_header a {
    color: #000;
    text-decoration: none;
}

header .top_header .right_menu {
    float: right;
}

header .bottom_header {
    width 100%;
    height: 70px;
    position: relative;
}

header .bottom_header .logo {
    width: 179px;
    height: 50px;
    background-image: url("/screenshots/quick-edit.png");
    margin-top: 14px;

}

header .bottom_header .search_bar input {
    width: 300px;
    height: 35px;
    top: 0px;
    border: 3px solid #ea7400;
    position: absolute;
    left: 30%;
    top: 4px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);

}


nav {
    width: 100%;
    height: 60px;
    position: relative;
}

nav .container{
    width: 1100px;
    height: 100%;
    margin: auto;
    box-sizing:border-box;
    background: #ea7400;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

nav .nav_bar {
    width: fit-content;
    margin: auto;
}

nav .nav_bar li {
    float: left;
    width: 100px;
    text-align: center;
    padding: 17px;
}

nav .nav_bar li:hover {
    background: #000000;
}

nav .nav_bar li a {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

#contents {
    width: 1100px;
    height: 100%;
    margin: auto;
    position: relative;
}

#contents .container {
    width: 1100px;
    height: 100%;
    padding: 15px 0px;
}

#contents .main {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    display:inline-block
}

#contents .main .slide {
    width: 100%;
    height: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

#contents .main .slide .left_menu {

}

#contents .main .slide .slide_banner {
    width: 615px;
    height: 260px;
    border: 1px solid #000;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    margin: 10px auto;
}

#contents .main .bottom_menu label {
    width: auto;
    height: auto;
    display: block;
    margin: 10px;
    margin-left: 40px;
}

#contents .main .bottom_menu .quick_menu {
    border: 1px solid;
    width: 90%;
    height: 80px;
    margin: auto;
}

#contents .main .tab_menu {
    width: 100%;
    height: 200px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

#contents .main .tab_menu .left_tab {
    width: 49.9%;
    height: 100%;
    border-right: 1px solid #aaa;
    float: left;
}

#contents .main .tab_menu .title {
    width: 95%;
    border-bottom: 1px solid #aaa;
    background: #ea7400;
    color: #fff;
    padding: 10px
}

#contents .main .tab_menu .right_tab {
    width: 49.9%;
    height: 100%;
    float: right;
}

#contents .aside {
    width: 28%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    float: right;
}


#contents .aside .login {
    padding: 15px;
    border: 2px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

#contents .aside .login label {
}

#contents .aside .login .inputs {

}

#contents .aside .login input {
    margin: 5px 0 ;
    height: 20px;
}

#contents .aside .login .submit {
    width: 90px;
    height: 62px;
    float: right;
    background: #ffffff;
    border: 2px solid #ddd;
}

#contents .aside .login .menu > li {
    float: left;
    padding: 10px;
    padding-left: 0;
}

#contents .aside .login .menu > li > a {
    text-decoration: none;
    color: #aaa;
}

#contents .aside .login .menu > li > a:hover {
    color: aqua;
}

#contents .aside .popup {
    border: 1px solid #000000;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin-top: 20px;
}

#contents .gallery {
    border: 1px solid #000000;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    margin-top: 15px;
}
